@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,700;1,900&family=Pacifico&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,700;1,900&family=Mulish:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Pacifico&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,700;1,900&family=Mulish:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Pacifico&family=Quicksand:wght@300;400;500;600;700&display=swap');



html{
 margin: auto;
}
body{
  padding: 1rem;
}
.mydiv{
  margin: auto;
}
.image{
  width: 77%;
  margin: auto;
  padding: 1rem;
  box-sizing: border-box;
  size: large;
  border-radius: 2.5rem;
  margin-top: 2rem;
  align-items: center;
  display: flex;
  flex-direction: inherit;
}
.page-link{
  width: 77%;
  font-size: 0.95rem; 
  margin: auto;
  font-family: 'Alata' , sans-serif;
 color: #4d4b58;
 text-decoration: none;
 margin-top: 1.5rem;
  text-align: center;
 align-items: center;

}

.my_heading{
  color:#4B4F58;
  text-decoration: none;
  margin-top: 1rem;
  width: 100%;
  font-size: 1rem; 
  margin: auto;
  font-family: 'Alata' , sans-serif;
 
}

.my_1heading{
  color: #4B4F58;
  display: inline;
  text-decoration-color: none;
  text-decoration: none;
  margin-top: 1rem;
  width: 100%;
  font-size: 1rem; 
  margin: auto;
  font-family: 'Alata' , sans-serif;
 
  

}
.h1-heading{
  width: 100%;
  font-size: 2.4rem;
  margin: auto;
  color: #0170b9;
  font-family: Alata;
  margin-top: 1rem;
 text-align: center;
 align-items:center;


 

}
.little-para{
width: 80%;
  color : #4e515a;
 margin: auto;
  margin-top: 1.2rem;
  font-size: 1rem;
  font-family: 'Alata', sans-serif;
  text-align: center;
  align-items: center;

 
  
}
.container2{ 
  margin: auto;
   width: 65%;
  margin-top: 2rem;
  border-radius: 0.2rem;
  border: 0.1rem solid rgb(156, 155, 155);
 padding: 0.5rem;

}
.content{
  list-style-type: none;
   margin-top: 6px;
   list-style:none;
   text-decoration-line: none;
    color: rgb(71, 71, 71);
   padding: 5px;
   font-weight: 50;
   font-family: 'Alata', sans-serif; 
  
}
.content:hover{
  color: #0170B9;
   }

.myheader{
  text-align: center;
  font-size: 1.4rem;
  border-bottom: 0.1rem solid rgb(128, 126, 126);
  padding: 1.5rem;
  color: #444349;
  font-family: 'Alata', sans-serif;
 
}
.child-content{
margin: auto;

} 

            
.p-para{
margin: auto;
margin-top: 2rem;
color: #4B4F58;
font-family: 'Alata', sans-serif;
font-weight: 800;
text-align: center;
align-items: center;
font-size: 1rem;
} 
#content-anchor-0{
  margin: auto;
  color: #3a3a3a;
  font-family: 'Alata' , sans-serif;
  margin-top: 4rem;
  display: flex;
  flex-direction: inherit;
  justify-content: space-evenly;
}

#content-anchor-1{
margin: auto;
  color: #3a3a3a;
  font-family: 'Alata' , sans-serif;
  margin-top: 4rem;
  display: flex;
  flex-direction: inherit;
  justify-content: space-evenly;
  

}  
#content-anchor-2{
 margin: auto;
  color: #3a3a3a;
  font-family: 'Alata' , sans-serif;
  margin-top: 4rem;
  display: flex;
  flex-direction: inherit;
  justify-content: flex-end;
}


#content-anchor-3{
  margin: auto;
  color: #3a3a3a;
  font-family: 'Alata' , sans-serif;
  margin-top: 4rem;
  display:flex;
  flex-direction: inherit;
  justify-content:flex-end;
}
.p-f-para{
  padding: 0.3rem;
  font-size: 1rem;
  color: #4D4B58;
}
.p-for-para{
 padding: 0.5rem;
 margin: auto;
 color: #4D4B58;
 margin-top: 0.1rem;
} 

#sub_head-0-heading3{
  margin: auto;
  padding: 0.3rem;
  margin-top: 1.9rem;

}   
#sub_head-1-heading3{
  margin: auto;
  padding: 0.3rem;
  margin-top: 0.5rem;


}     
#sub_head-2-heading3{
  margin: auto;
  padding: 0.3rem;
  margin-top: 0.5rem;

}  
#anchor-1{
  font-size: 2rem;
}   
#anchor-2{
  font-size: 2rem;
}    
#anchor-3{
  font-size: 2rem;
}  #anchor-7{
  font-size: 2rem;
} 
.s-for-span{
  color: #c534be;
  margin: auto;
  font-size: 1rem;
} 
p{
  margin-top: 1rem;
}

.anchor-7_para{
  margin-top:1.6rem;
}




/* Footer */