* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body {
    background: scroll;
    height: 20px;
    background-repeat: no-repeat;
    width: 100px;
    font-family: "Sofia", sans-serif;
    background-color: rgb(247, 244, 244);


}

.container {
    font-size: 29px;
    font-family: fantasy;
    color: rgb(201, 130, 0);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav {
    background-color:rgb(8, 4, 1);
    height: 80px;
    width: 1368px;
   border-radius: 0px;
   float: inline-start;
   overflow: hidden;
   
   
    
}

.logo {
    color: rgb(201, 130, 0);
    font-size: 30px;
    line-height: 80px;
    padding: 0 4px;
    font-weight: bold;


}

nav ul {
    float: right;
    margin-right: 2px;
    display: inline block;
    scroll-behavior: smooth;

}

 li {
    float: left;
    display: inline block;
    margin: 0px;
    padding: 20px;
    font-stretch: narrower;
    font-weight: bolder;
    cursor: pointer;
    font-style: oblique;

}

#search {
    text-align: center;
    text-decoration-color: blue;
    margin: 26px;
    padding: 2px;
    border-radius: 8px;
    border-color: rgb(2, 0, 8);
    background-color: rgba(248, 215, 171, 0.781);
    width: 250px;
    height: 30px;
    border-style:inset;
    border: solid  rgb(155, 96, 41);
}

img {
    margin-top: 0px;
    padding: 0px;
    width: 1368px;
    height: 618px;
    position: absolute;
}

li :hover {
    color: rgb(247, 142, 6);

}
p{
    color: rgb(249, 249, 253);
    background-color: rgb(0, 1, 5);
    font-size: 50px;
    width: 1368px;
    margin: 1px;
}

audio{
    background-image: url(https://www.pagalworld.pw/GpE34Kg9Gq/113514/144994-tu-mile-dil-khile-raj-barman-mp3-song-300.jpg);
}