.myimg{
    background:no-repeat;
 width: 100%;
 height: 50vh;
 margin: auto;

 
}

.mybody{
    background-color: rgb(247, 245, 239);
}
/* .navbar{
    background-color: blue;
} */
.icon-black{
    color: black;
}
.offcanvas-body{
    background-color: rgb(247, 246, 246);
    color: rgb(3, 3, 3);


}

/* .mynavbar{
    background-color: rgb(244, 250, 215);
} */
.mypara{
   font-size:2.5rem;
    color: black;
    text-align:center;
    align-items: center;
    margin-bottom: -30px;
}
/* Cards editing */
/* .mycards{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);} */
.myimgcard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

    /* .navbar{
      background-image: linear-gradient(to right, rgb(253, 229, 229),rgb(250, 240, 219),rgb(248, 248, 227),rgb(228, 250, 228),rgb(221, 221, 245),rgb(238, 222, 250),rgb(248, 224, 248)); 
  } */
  .offcanvas-header{
    background-color: rgb(240, 243, 245);
  }




  
  

  
  
